<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Imperium | Change Password</title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b64e0dbd33.js" crossorigin="anonymous"></script>

    <!-- Css -->
    <link rel="stylesheet" href="../../public/css/index.css">


</head>

<body>
    <section id='page-name'>
        <div class="page-name">
            <div>
                <h1>
                    Setting Up New Password?
                </h1>
                <p>
                    Let's get more secure!
                </p>
            </div>
            
        </div>
    </section>
    <section id='page-window'>
        <div class="credentials-form">

            <div class="credentials-form-grid">
                <img src="../../public/Images/Credentials/Login.svg" alt="" >

                <div class="credentials-form-content">
                    
                        <div class="credentials">
                            <img src='../../public/Images/Avatars/Artboards_Diversity_Avatars_by_Netguru-34.svg'/>
                            <h1>Change Passowrd</h1>
                            
                
                            <form action="/auth/change_password" method="POST" class="credentials-form">
                                    <label>
                                        New Password
                                    </label>
                                    <div class="credentials-form-input-div pass" >
                                        <div>
                                            <span class="fas fa-lock"></span>
                                        </div>
                                       
                                        <input placeholder="Enter your Password" type="Password" id="chngpass-newpass" name = "password"/>  
                                        <div>
                                            <span class="far fa-eye" id="newpass-eye-toggle"></span>
                                            <span class="far fa-eye-slash" id="newpass-eye-toggle-slash"></span> 
                                        </div>
                                    </div>
                                    <label>
                                        Confirm Password
                                    </label>
                                    <div class="credentials-form-input-div pass" >
                                        <div>
                                            <span class="fas fa-lock"></span>
                                        </div>
                                       
                                        <input placeholder="Enter your Password" type="Password"  id="chngpass-confpass" name = "confirmpassword"/>  
                                        <div>
                                            <span class="far fa-eye" id="conf-eye-toggle"></span>
                                            <span class="far fa-eye-slash" id="conf-eye-toggle-slash"></span> 
                                        </div>
                                    </div>
                                    
                {{#if info}}
				<div class="alert alert-primary">
					
					<div>
						<img src="/public/Images/Alert/info.svg" alt="" style="fill: currentColor;">
						<span>{{info}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
				{{#if warning}}
				<div class="alert alert-warning">
					
					<div>
						<img src="/public/Images/Alert/warning.svg" alt="" style="fill: currentColor;">
						<span>{{warning}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
				{{#if danger}}
				<div class="alert alert-danger">
					
					<div>
						<img src="/public/Images/Alert/danger.svg" alt="" style="fill: currentColor;">
						<span>{{danger}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
                {{#if success}}
				<div class="alert alert-success">
					
					<div>
						<img src="/public/Images/Alert/success.svg" alt="" style="fill: currentColor;">
						<span>{{success}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
                                    <button class="btn" type="submit">
                                        Set Password
                                    </button>
                                </form>

                        </div>


                </div>


            </div>

        </div>
    </section>
    <!-- Footer Starts -->
    <section id='footer'>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-handles">
                    <a href="">
                        <span class="fab fa-instagram"></span>
                    </a>
                    

                    <a href="">
                        <span class="fab fa-facebook"></span>
                    </a>
                    

                    <a href="">
                        <span class="fab fa-twitter"></span>
                    </a>
                    

                    <a href="">
                        <span class="fab fa-pinterest"></span>
                    </a>
                   

                    <a href="">
                        <span class="fab fa-google-plus-g"></span>
                    </a>
                    



                </div>
                <div class="footer-info">
                    <h3><span class="far fa-copyright"></span> 2021 Fitness Imperium, All rights reserved.</h3>
                </div>
            </div>


        </div>
    </section>
    <!-- Footer Ends -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script>

		const neweyeToggleSlash=document.querySelector("#newpass-eye-toggle-slash");
		const neweyeToggle=document.querySelector("#newpass-eye-toggle");
		const newpassword=document.querySelector('#chngpass-newpass');
		const confeyeToggleSlash=document.querySelector("#conf-eye-toggle-slash");
		const confeyeToggle=document.querySelector("#conf-eye-toggle");
		const confpassword=document.querySelector('#chngpass-confpass');

		neweyeToggleSlash.addEventListener('click', function(){
			newpassword.setAttribute('type','text')
			neweyeToggleSlash.style.visibility="hidden";
			neweyeToggle.style.visibility="visible";
		});

		neweyeToggle.addEventListener('click', function(){
			newpassword.setAttribute('type','password')
			neweyeToggleSlash.style.visibility="visible";
			neweyeToggle.style.visibility="hidden";
		});

		confeyeToggleSlash.addEventListener('click', function(){
			confpassword.setAttribute('type','text')
			confeyeToggleSlash.style.visibility="hidden";
			confeyeToggle.style.visibility="visible";
		});

		confeyeToggle.addEventListener('click', function(){
			confpassword.setAttribute('type','password')
			confeyeToggleSlash.style.visibility="visible";
			confeyeToggle.style.visibility="hidden";
		});
	</script>
</body>

</html>